django
djangorestframework
psycopg2-binary
python-decouple
django-rest-swagger
drf-yasg
drf-extra-fields
djangorestframework-simplejwt
gunicorn
dj-database-url
urllib3
Pillow
drf-spectacular
django-cors-headers
whitenoise
django-filter